* {
  z-index: 1;
  user-select: none;
}
html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  background: #3b461d;
  box-sizing: border-box;
  box-shadow: 0px 0px 20px black inset;
  overflow: clip;
  background-size: contain;
  padding: 10px;
  font-family: "Courier New", "Courier", monospace;
  font-weight: 900;
  color: black;
  box-sizing: border-box;
}
html,body {
  cursor: url(), auto;
}
main {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
}
#canvas {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: fixed;
  inset: 0;
  z-index: 2 !important;
  background: url(overlay-1.gif);
  background-size: 100% 100%;
  opacity: 0.035;
}
.button1 {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transition: 0.2s;
  width: 100px;
  height: 20px;
}
.button2 {
  position: absolute;
  top: 70%;
  left: 50%;
  z-index: 1;
  transition: 0.2s;
  width: 100px;
  height: 20px;
  background: white;
}
.pointer {
  cursor: pointer !important;
}
p {
  font-size: 3ex;
  width: auto;
  box-sizing: border-box;
  height: 3ex;
  display: inline-block;
  position: relative;
  white-space: pre;
  padding: 0;
  margin: 0;
  margin-bottom: -5px;
  padding-bottom: 0 !important;
}
.cursor::after {
  content: "";
  background: black;
  position: absolute;
  height: 2.4ex;
  width: 1.2ex;
  top: 2px;
  right: -1.2ex;
  animation-name: blinking;
  animation-iteration-count: infinite;
  animation-duration: 0.3s;
}
@keyframes blinking {
  0%,
  49% {
    background-color: black;
  }
  50%,
  100% {
    background-color: transparent;
  }
}
#tB,
#bB,
.sideRow {
  display: block;
  width: calc(100% - 20px);
  font-size: 3ex;
  white-space: pre;
}
.sideRow {
  margin-top: -5px;
}
#bB {
  margin-top: -10px;
}
#interspan {
  text-decoration: underline;
}
#bInterspan {
  text-decoration: overline;
}
.overscore {
  text-decoration: overline;
}
.underscore {
  text-decoration: underline;
}
span[onclick^="btnFunction("] {
  transition: 0.25s;
}
#outerP {
  display: block;
  width: 100%;
}
#helpDiv {
  pointer-events: none;
}
